<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../css/style.css" />
  <title>Receta Fugazzeta</title>
</head>
<body>
  <header>
    <nav class="navbar">
      <a href="../../index.html">Inicio</a> |
      <a href="fugazza.html">Fugazzeta</a> |
      <a href="nugets_de_pyv.html">Nugets</a>
    </nav>
  </header>

  <main>
    <h1 class="pagina1titulo">Receta Rellena de jamón y queso</h1>
    <img
      src="../img/fugazeta.jpeg"
      alt="Pizza Fugazzeta Rellena"
      style="width: 500px"
      height="250"
    />
    <p class="pagina1contenido"><strong>Para ir preparando:</strong></p>
    <ol class="pagina1pasos lista-circulos">
      <li>Colocar la harina y la sal en la mesada en forma de corona. Colocar los líquidos y la levadura en el centro y amasar hasta obtener una masa lisa.</li>
      <li>Armar bollos de 500 y 300 g. Dejar descansar.</li>
      <li>Cortar las cebollas en tiras finas, colocarlas en un bowl, salarlas y cubrir con agua y hielo.</li>
      <li>Desgasificar los bollos levados, estirarlos y cubrir con el de 500 g una pizzera o asadera previamente aceitada.</li>
      <li>Rallar muzzarella y cortar en láminas el queso cuartirolo.</li>
      <li>Cubrir con fetas de jamón cocido, arriba los quesos, un poquito de orégano seco.</li>
      <li>Cubrir con la masa de 300 g y apretar bien los bordes para unirlos.</li>
      <li>Escurrir bien la cebolla y si es necesario secarla con un repasador y poner en la superficie.</li>
      <li>Cocinar en horno medio/fuerte aprox 30 minutos.</li>
      <li>Faltando 10 minutos agregar el queso provolone cortado en trocitos, poner el horno al máximo y gratinar.</li>
  </ol>

    <p class="pagina1contenido"><strong>Método de Cocción</strong></p>
    <ol class="pagina1pasos lista-circulos" type="A">
      <li>Colocar la harina y la sal en la mesada en forma de corona. Colocar los líquidos y la levadura en el centro y amasar hasta obtener una masa lisa.</li>
      <li>Armar bollos de 500 y 300 g. Dejar descansar.</li>
      <li>Cortar las cebollas en tiras finas, colocarlas en un bowl, salarlas y cubrir con agua y hielo.</li>
      <li>Desgasificar los bollos levados, estirarlos y cubrir con el de 500 g una pizzera o asadera previamente aceitada.</li>
      <li>Rallar muzzarella y cortar en láminas el queso cuartirolo.</li>
      <li>Cubrir con fetas de jamón cocido, arriba los quesos, un poquito de orégano seco.</li>
      <li>Cubrir con la masa de 300 g y apretar bien los bordes para unirlos.</li>
      <li>Escurrir bien la cebolla y si es necesario secarla con un repasador y poner en la superficie.</li>
      <li>Cocinar en horno medio/fuerte aprox 30 minutos.</li>
      <li>Faltando 10 minutos agregar el queso provolone cortado en trocitos, poner el horno al máximo y gratinar.</li>
    </ol>

    <iframe
      width="500"
      height="250"
      src="https://www.youtube.com/embed/Lv_TDtnfZhI"
      title="Receta en video"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>

    <br />
    <a href="https://cocinerosargentinos.com/pizzas/super-fugazzeta-rellena-3">Podés mirar la receta original acá</a
    ><br />
    <a href="nugets_de_pyv.html">Mirá también cómo hacemos nuestros famosos nugets</a><br />
    <a href="../../index.html">Volver a la lista de nuestras opciones</a>
  </main>

  <footer>
    © 2025 Recetero Ariel - Todos los derechos reservados
  </footer>
</body>
</html>
