<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Electromax - Electrónica al alcance</title>
  <link rel="stylesheet" href="/public/css/style.css">
  <link rel="icon" href="/public/imagenes/fuse.png" type="image/png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

  <!-- navbar-->
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100">
    <div class="container-fluid">
      <a class="navbar-brand" href="/index.html"><img src="/public/imagenes/ChatGPT Image 14 ago 2025, 00_34_59.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuNav" aria-controls="menuNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="menuNav">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link active" href="/public/views/celulares.html"><button class="button">Celulares</button></a></li>
          <li class="nav-item"><a class="nav-link" href="/public/views/televisores.html"><button class="button">Televisores</button></a></li>
          <li class="nav-item"><a class="nav-link" href="/public/views/auriculares.html"><button class="button">Auriculares</button></a></li>
          <li class="nav-item"><a class="nav-link" href="/public/views/consolas.html"><button class="button">Gaming</button></a></li>
          <li class="nav-item"><a class="nav-link" href="/public/views/drones.html"><button class="button">Drones</button></a></li>
          <li class="nav-item"><a class="nav-link" href="/public/views/mandos.html"><button class="button">Mandos</button></a></li>
          <li class="nav-item"><a class="nav-link" href="/public/nosotros.html"><button class="button">Nosotros</button></a></li>
          <li class="nav-item"><a class="nav-link" href="/public/contacto.html"><button class="button">Contacto</button></a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<!-- Productos -->
<main>
<!-- Auricular 1 -->
<div class="card">
  <span class="oferta">OFERTA</span>
  <h2>Auricular 2.5 Doblysound</h2>
  <p>Para una experiencia unica y un sonido controlado exclusico para gamers</p>
  <img src="/public/imagenes/auriculares_1.png" alt="Auricular1">
  <p class="precio">$25.999</p>
  <p class="descuento-efectivo">💵 20% de descuento pagando en efectivo</p>
  <p class="descuento-tarjeta">💳 5% de descuento con tarjeta de crédito</p>
  <small class="nota-envio">* El costo de envío corre por cuenta del comprador</small>
  <a href="/public/contacto.html"><button class="button">Comprar Ahora</button></a>
</div>
<!-- Auricular 2 -->
<div class="card">
  <span class="oferta">OFERTA</span>
  <h2>Auricular X23 profesinal tool </h2>
  <p>Disponible en 5.1 para aquellos amantes de la musica y el cine con un adaptacion unica en el mercado</p>
  <img src="/public/imagenes/auriculares_2.png" alt="Auricular2">
  <p class="precio">$35.999</p>
  <p class="descuento-efectivo">💵 20% de descuento pagando en efectivo</p>
  <p class="descuento-tarjeta">💳 5% de descuento con tarjeta de crédito</p>
  <small class="nota-envio">* El costo de envío corre por cuenta del comprador</small>
  <a href="/public/contacto.html"><button class="button">Comprar Ahora</button></a>
</div>
<!-- Auricular 3 -->
<div class="card">
  <span class="oferta">OFERTA</span>
  <h2>Snapdragon v2.7.5 </h2>
  <p>Donde el limite del sonido reside en lo que escuches o jueges , 
  <br>con un cable de 3.7ml que permite una mejor entrada de sonido</p>
  <img src="/public/imagenes/auriculares_3.png" alt="Auricular3">
  <p class="precio">$95.999</p>
  <p class="descuento-efectivo">💵 20% de descuento pagando en efectivo</p>
  <p class="descuento-tarjeta">💳 5% de descuento con tarjeta de crédito</p>
  <small class="nota-envio">* El costo de envío corre por cuenta del comprador</small>
  <a href="/public/contacto.html"><button class="button">Comprar Ahora</button></a>
</div>
</main>
  <!-- Pie de página -->
  <footer>
    <p>Ariel Cortes</p>
    <p>📞 WhatsApp: +54 9 261-7111724</p>
    <p>📧 Email: cortesarieln@gmail.com</p>
    <p>📍 Dirección: San Rafael, Mendoza, Argentina</p>
    <p>🌐 Seguinos en redes: Instagram | Facebook | TikTok</p>
  </footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
