<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receta Fugazzeta</title>
</head>
<body>
    <h1>Receta Rellena de jamon y queso</h1>
    <p><strong>Para ir preparando:</strong></p>
    <ol type="1">
        <li>Colocar la harina y la sal en la mesada en forma de corona. Colocar los líquidos y la levadura en el centro y amasar hasta obtener una masa lisa.</li>
        <li>Armar bollos de 500 y 300 g. Dejar descansar. </li>
        <li>Cortar las cebollas en tiras finas, colocarlas en un bowl, salarlas y cubrir con agua y hielo. </li>
        <li>Desgasificar los bollos levados, estirarlos y cubrir con el de 500 g una pizzera o asadera previamente aceitada.</li>
        <li>Rallar muzzarella y cortar en láminas el queso cuartirolo.</li>
        <li>Cubrir con fetas de jamón cocido, arriba los quesos, un poquito de orégano seco.</li>
        <li>Cubrir con la masa de 300 g y apretar bien los bordes para unirlos.</li>
        <li>Escurrir bien la cebolla y si es necesario secarla con un repasador y poner en la superficie</li>
        <li>Cocinar en horno medio/fuerte aprox 30 minutos.</li>
        <li>Faltando 10 minutos agregar el queso provolone cortado en trocitos, poner el horno al máximo y gratinar. </li>
    </ol>
    <p><strong>Metodo de Coccion</strong></p>
    <ol type="A">
        <li>Colocar la harina y la sal en la mesada en forma de corona. Colocar los líquidos yla levadura en el centro y amasar hasta obtener una masa lisa</li>
        <li>Armar bollos de 500 y 300 g. Dejar descansar</li>
        <li>Cortar las cebollas en tiras finas, colocarlas en un bowl, salarlas y cubrir con agua y hielo</li>
        <li>Desgasificar los bollos levados, estirarlos y cubrir con el de 500 g una pizzera o asadera previamente aceitada</li>
        <li>Rallar muzzarella y cortar en láminas el queso cuartirolo</li>
        <li>Cubrir con fetas de jamón cocido, arriba los quesos, un poquito de orégano seco</li>
        <li>Cubrir con la masa de 300 g y apretar bien los bordes para unirlos</li>
        <li>Escurrir bien la cebolla y si es necesario secarla con un repasador y poner en la superficie</li>
        <li>Cocinar en horno medio/fuerte aprox 30 minutos</li>
        <li>Faltando 10 minutos agregar el queso provolone cortado en trocitos, poner el horno al máximo y gratinar</li>
    </ol>
    <a href="https://cocinerosargentinos.com/pizzas/super-fugazzeta-rellena-3">Podes mirar la receta original aca</a><br>
    <a href="nugets_de_pyv.html">Mira tambien como hacemos nuestros famosos nugets</a><br>
    <a href="../../index.html">Volver a la lista de nuestras opciones</a>
</body>
</html>