<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">

    <title>Nugets de Pollo y Verdura</title>
</head>
<body>
    <h1 class="pagina2titulo">Nugets de Pollo y Verdura</h1>
    <img src="../img/nugetsdepolloyverd.jpeg" alt="Nugets de pollo y verdura" style="width: 500;" height="250">
    <p><strong>Para ir preparando</strong></p>
    <ol class="Color2texto" type="A">
        <li>500 gramos de suprema de pollo</li>
        <li>1 atado espinaca</li>
        <li>Salsa blanca bien espesa c/n</li>
        <li>1 zanahoria chica rallada fino</li>
        <li>Sal y pimienta</li>
    </ol>
    <p><strong>Para el rebozado:</strong></p>
    <ol class="Color2texto" type="I">
        <li>Agua c/n Panko</li>
        <li>Ajo en polvo opcional</li>
        <li> Orégano seco</li>
    </ol>
    <h2>Manos a la obra</h2>
    <ol class="Color2texto" type="1">
        <li>Lavar las espinacas y cocinar en agua caliente durante pocos minutos. Escurrir bien.</li>
        <li>Picar finamente y reservar.</li>
        <li>Cortar el pollo crudo en trozos y procesarlos hasta que formen una pasta.
        <li>Mezclar el pollo con los vegetales, condimentos y la cantidad de salsa blanca necesaria para formar una pasta firme y mezclar hasta que esté bien integrado.</li>
        <li>Con las manos tomar pequeñas porciones con esta masa.</li>
        <li>Empanar los nuggets pasándolos por panko mezclado con el ajo y orégano previamente.</li>
        <li>Cocinar en horno bien caliente en una asadera con un poco de aceite.</li>
    </ol>
    <iframe 
        width="500" 
        height="250" 
        src="https://www.youtube.com/embed/hGZzhyqyxo4" 
        title="Receta en video" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        allowfullscreen>
    </iframe>
<br>
    <a href="https://comococinarpollo.blogspot.com/2022/06/nuggets-de-pollo-con-espinacas-y.html">Podes mirar la receta original aca</a><br>
    <a href="fugazza.html">Podes probar tambien con nuestra pizza</a><br>
    <a href="../../index.html">Volver a la lista de nuestras opciones</a>
</body>
</html>